[submodule "IaExperimental"]
	path = IaExperimental
	url = git@github.com:infinite-automation/IaExperimental.git
[submodule "IaEquipmentPepperlFuchs"]
	path = IaEquipmentPepperlFuchs
	url = git@github.com:infinite-automation/IaEquipmentPepperlFuchs.git
[submodule "IaEquipmentBeckhoff"]
	path = IaEquipmentBeckhoff
	url = git@github.com:infinite-automation/IaEquipmentBeckhoff.git
[submodule "IaApplication"]
	path = IaApplication
	url = git@github.com:infinite-automation/IaApplication.git
[submodule "IaEquipment"]
	path = IaEquipment
	url = git@github.com:infinite-automation/IaEquipment.git
[submodule "IaAux"]
	path = IaAux
	url = git@github.com:infinite-automation/IaAux.git
[submodule "IaPlatform"]
	path = IaPlatform
	url = git@github.com:infinite-automation/IaPlatform.git
[submodule "IaCore"]
	path = IaCore
	url = git@github.com:infinite-automation/IaCore.git
[submodule "Ia.Framework"]
	path = Ia.Framework
	url = git@github.com:infinite-automation/Ia.Framework.git
[submodule "tc3servicetool"]
	path = tc3servicetool
	url = git@github.com:infinite-automation/tc3servicetool.git
[submodule "tc3routertool"]
	path = tc3routertool
	url = git@github.com:infinite-automation/tc3routertool.git
[submodule "tc3licenser"]
	path = tc3licenser
	url = git@github.com:infinite-automation/tc3licenser.git
[submodule "tc3buildtools"]
	path = tc3buildtools
	url = git@github.com:infinite-automation/tc3buildtools.git
[submodule "tc3bindings"]
	path = tc3bindings
	url = git@github.com:infinite-automation/tc3bindings.git
[submodule "tc3vsix"]
	path = tc3vsix
	url = git@github.com:infinite-automation/tc3vsix.git
